extends base.pug

block scripts
    script(src='/static/index.js')

block style
    style
        include ../static/style.css
        include ../static/styleClass.css

block content
    .container
        h1 Class Information
        p Dive into the world of dance with Arcadia Dance Academy! Here's a complete schedule of our classes, tailored to all ages and skill levels.
        ul.class-list
            li Beginner Dance Classes:
                p Time: Monday & Wednesday, 5:00 PM - 6:30 PM
                p Start your journey with foundational techniques and fun choreographies.
            li Advanced Dance Sessions:
                p Time: Tuesday & Thursday, 6:00 PM - 7:30 PM
                p For dancers looking to refine their skills and explore complex routines.
            li Kids’ Classes:
                p Time: Saturday, 10:00 AM - 11:00 AM
                p Interactive and playful sessions designed to spark joy in young learners.
            li Group Workshops:
                p Time: Sunday, 3:00 PM - 5:00 PM
                p Collaborative and energetic lessons perfect for bonding and teamwork.
            li Private Lessons:
                p Time: Flexible (by appointment)
                p Personalized sessions tailored to meet individual goals.
            li Wedding Choreography:
                p Time: Flexible (by appointment)
                p Create magical memories with custom routines for your special day.
        a.btn(href='/contact') Enroll Now
